<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Problem Solver</title>
</head>
<body>
<form th:method="POST" action="#"
th:action="@{/auth/registration}" th:object="${user}">
    <h1>Sign Up For Free</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email"  th:value="email" required><br>
    <br>
    <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter Name" name="name" id="name" th:value="name" required><br>
    <br>
    <label for="lastname"><b>Lastname</b></label>
    <input type="text" placeholder="Enter Lastname" name="lastname" id="lastname" th:value="lastname" required><br>
    <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter password" name="password" id="password" th:value="password" required><br>
    <br>
    <button text="Sign Up" id="buttonSubmit" type="submit"></button>
</form>
</body>
</html>